<p id="notice"><%= notice %></p>

<p>
  <strong>Skintype:</strong>
  <%= @userspec.skintype %>
</p>

<p>
  <strong>Age:</strong>
  <%= @userspec.age %>
</p>

<p>
  <strong>Atopy:</strong>
  <%= @userspec.atopy %>
</p>

<p>
  <strong>Pimple:</strong>
  <%= @userspec.pimple %>
</p>

<p>
  <strong>Allergy:</strong>
  <%= @userspec.allergy %>
</p>

<p>
  <strong>Bb:</strong>
  <%= @userspec.bb %>
</p>

<p>
  <strong>Lip:</strong>
  <%= @userspec.lip %>
</p>

<p>
  <strong>Eyebrow:</strong>
  <%= @userspec.eyebrow %>
</p>

<p>
  <strong>Eyeline:</strong>
  <%= @userspec.eyeline %>
</p>

<p>
  <strong>Color:</strong>
  <%= @userspec.color %>
</p>

<p>
  <strong>Skincolor:</strong>
  <%= @userspec.skincolor %>
</p>

<%= link_to 'Edit', edit_userspec_path(@userspec) %> |
<%= link_to 'Back', userspecs_path %>
