<h3 class="header-common-title"><strong>RANKING</strong></h3>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="categories nav-link active" href="<%= ranking_index_path %>">All</a>
  </li>
  <li class="nav-item">
    <a class="categories nav-link active" href="/ranking/category/<%= '피부'  %>">피부</a>
  </li>
  <li class="nav-item">
    <a class="categories nav-link active" href="/ranking/category/<%= '화장' %>">화장</a>
  </li>
  <li class="nav-item">
    <a class="categories nav-link active" href="/ranking/category/<%= '헤어' %>">헤어</a>
  </li>
  <li class="nav-item">
    <a class="categories nav-link active" href="/ranking/category/<%= '바디' %>">바디</a>
  </li>
</ul>
