<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex justify-content-start new-form-line">
    <div class="field">
      <%= f.label :category %>
      <%= f.select(:category, ['피부', '화장', '헤어', '바디'] , {}, { :class => 'form-control input-select'}) %>
    </div>
    <div class="field" style="margin-left: 20px;">
      <%= f.label :brand %>
      <%= f.text_field(:brand, class: 'form-control input-text', style:"width:200px;") %>
    </div>
    <div class="field" style="margin-left: 20px;">
      <%= f.label :price  %>
      <%= f.number_field(:price, class: 'form-control input-text', style:"width:200px;") %>
    </div>
  </div>

  <div class="d-flex justify-content-start new-form-line">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field(:name , class: 'form-control input-text', style: "width:550px;")%>
    </div>
    <br>
    <div class="field" style="margin-left:30px;">
      <p style="margin-top:0">썸네일 이미지 </p>
      <p style="margin-top:15px;"><%= f.file_field :image %></p>
    </div>
  </div>

  <div class="field new-form-line">
      <%= f.cktext_area :contents %>
  </div>

  <div class="d-flex justify-content-start new-form-line" style="margin: 10px 0">
    <div class="field">
      <%= f.label :skintype %>
      <%= f.select( :skintype, ['건성', '지성', '복합성', '중성', '민감성'], {}, { :class => 'form-control input-select'}) %>
    </div>
    <div class="field" style="margin-left:20px;">
      <%= f.label :age %>
      <%= f.select( :age, ['10대', '20대초반', '20대후반', '30대초반', '30대후반', '40대이상'],  {}, { :class => 'form-control input-select'}) %>
    </div>
  </div>

  <div class="d-flex justify-content-start new-form-line" style="margin: 10px 0;">
    <div class="field">
      <%= f.label :atopy %>
      <%= f.check_box :atopy, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label :pimple %>
      <%= f.check_box :pimple, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label :allergy %>
      <%= f.check_box :allergy, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label :bb %>
      <%= f.check_box :bb, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label :lip %>
      <%= f.check_box :lip, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label :eyebrow %>
      <%= f.check_box :eyebrow, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label :eyeline %>
      <%= f.check_box :eyeline, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label :color %>
      <%= f.check_box :color, class: "spec-detail" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :skincolor %>: 1~30
    <%= f.number_field :skincolor, type: "range", class: "custom-range", min: 0, max: 30, step: 1, id: "customRange3"  %>
  </div>



  <div align="center">
    <div class="actions" style="margin: 20px 0px;">
      <%= f.submit "작성", class:"btn btn-secondary", style:"margin-right: 10px;" %>
      <%= link_to '취소', products_path, class:"btn btn-secondary", style:"margin-left: 10px;" %>
    </div>
  </div>
<% end %>
