<!DOCTYPE html>
<html>
  <head>
    <title>Nampa2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light main-nav-bar">
      <div class="container">
        <div class="navbar-brand main-logo-box"><%= link_to image_tag("main-logo.png", :class => "main-logo-img"), root_path, class: "main-logo" %></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav main-nav">
            <a class="nav-item nav-link active" href="<%= manuals_path %>">뷰티설명서</a>
            <a class="nav-item nav-link active" href="/custom/info">맞춤 제품</a>
            <a class="nav-item nav-link active" href="/ranking/index">제품 랭킹</a>
            <a class="nav-item nav-link active" href="/shopping/index">SHOPPING</a>
            <% if current_user && current_user.roles.first.name == 'admin' %>
              <a class="nav-item nav-link active" href="/products">제품등록</a>
            <% end %>
          </div>
        </div>

        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right user-bar">
            <li class="nav-item"><%= link_to "내 스펙", edit_userspec_path(current_user), class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "내 정보", edit_user_registration_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "로그아웃", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right user-bar">
            <li class="nav-item"><%= link_to "회원가입", new_user_registration_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "로그인", new_user_session_path, class: "nav-link" %></li>
          </ul>
        <% end %>
      </div>
    </nav>

    <div class="container app-container">
      <%= yield %>
    </div>

    <footer>
      <div class="container d-flex align-items-center">
        <div style="width: 100%; height: auto;">
          <div class="footer-box1 d-flex justify-content-center">
            <ul class="footer-info">
              <li><span class="span-right">주식회사 남자의파우치</span><span class="span-left">소재지: 서울특별시 광진구 화양동 421-2 202호</span></li><br>
              <li><span class="span-right">대표전화: 010-0000-0000</span>|<span class="span-left">전자우편: coutact@manspouch.co.kr</span></li>
              <li><span class="span-right">사업자등록번호: 211-12-12121</span>|<span class="span-left">통신판매업신고번호: 제2018-서울강남-00123호</span></li>
            </ul>

            <ul class="footer-icon d-flex justify-content-left">
              <li><a href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>

          <div class="footer-box2 d-flex justify-content-left">
            <p class="copyright">
              CopyrightⓒMANSPOUCH Inc. All Rights Reserved.
            </p>
            <p class="footer-logo">MANSPOUCH</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
